.loggedIn .buttonContainer {
  height: auto;
}

.logoutButton {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.logoutButton:hover {
  background-color: #d32f2f;
}

.searchToggleButton {
  background-color: rgb(232, 182, 42);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 4px;
}

img {
  width: 200px;
  height: auto;
}

.fetchedDog {
  display: flex;
  margin: .5em 0;
}

.fetchedDog-text {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}

.fetchedDogs {
  display: flex;
}